server:
  port: 8000

spring:
  application:
    name: gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: service1
              uri: lb://SERVICE1
              predicates:
                - Path=/service1/**
              filters:
                - CustomFilter

            - id: service2
              uri: lb://SERVICE2
              predicates:
                - Path=/service2/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: host.docker.internal
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

    metadata-map:
      management.port: ${management.server.port}
      management.context-path: /actuator

management:
  server:
    port: 18080
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
